@mixin flexAlignCenter($direction) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: $direction;
}
@mixin themeGradient() {
    background: $theme-gredient-1;
    background: linear-gradient(172deg, $theme-gredient-1 0%, $theme-gredient-2 100%);
}
@mixin appLayoutTransition() {
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
}
@mixin textEllipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}