$font-stack: 'Poppins', sans-serif;

$primary-color: #2471ff;
$secondary-color: #6953ef;
$danger-color: #f33c7d;
$success-color: #32c89d;
$valid-color: #8972ca;
$basic-color: #75789a;
$highlight-color: #eff6fe;

$bg-color: #f2f5f9;
$white-color: #fff;
$main-color: #232a4b;
$link-color: #3e6eed;
$heading-color: #393b48;
$border-color: #dde0e7;

$form-border : #acaec2;
$form-fill : #3a3d63;
$focus : #8298f0;

$theme-gredient-1: rgba(97,80,238,1);
$theme-gredient-2: rgba(20,152,236,1);

$nav-shadow : rgba(65,110,237,0.2);
$line-color : #dbdced;

$box1_color1: rgba(254,149,185,1);
$box1_color2: rgba(237,106,148,1);

$box2_color1: rgba(196,139,217,1);
$box2_color2: rgba(124,108,197,1);

$box3_color1: rgba(87,220,179,1);
$box3_color2: rgba(29,189,145,1);

$box4_color1: rgba(216,189,93,1);
$box4_color2: rgba(212,160,127,1);