<div class="app_modal">
  <div class="modal_dialog recurrence_modal">
    <div class="modal_header">
      <h3>Task Recurrence</h3>
    </div>
    <div class="modal_body" style="overflow: hidden;">

      <form
        #recurringForm="ngForm"
        #form
        name="custom-form"
      >

      </form>
    </div>
    <div class="modal_footer">
      <button
        type="button"
        class="cancel text_uppercase"
        mat-button>
        cancel
      </button>
      <button
        type="button"
        class="btn_primary text_uppercase"
        mat-button
      >
        OK
      </button>
    </div>
  </div>
</div>
