<form #form="ngForm" (ngSubmit)="subformmit(form)">
  <mat-accordion [multi]="true">
    <mat-expansion-panel
      *ngFor="let section of dropl; let i = index"
      style="margin-bottom: 1px;"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <input
            type="text"
            [(ngModel)]="section.sectionName"
            [name]="'name_' + i"
            #sectionName="ngModel"
            [required]="true"
            placeholder="Section caption..."
            (click)="$event.stopPropagation()"
          />
          <span>*</span>
          <div *ngIf="sectionName.invalid">
            <span>not valid</span>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <!-- Type your name and age -->
          <button type="button" style="float: right;" (click)="removeSection($event, section.sectionId)">remove</button>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="example-container">
        <h2>{{ section.sectionName }}</h2>

        <div
          cdkDropList
          [cdkDropListData]="section.controls"
          [cdkDropListAutoScrollDisabled]="false"
          class="example-list app_row"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let sec of section.controls"
            cdkDrag
          >
            {{ sec.name }}
            <a href="#" (click)="edit(sec)">edit</a>
          </div>
          <div style="height: 50px; text-align: center;">
            drag items here
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button style="width: 100%;" (click)="addSection()">
    <span
      style="
        border: 1px dashed rgb(0, 116, 161);
        border-radius: 50%;
        padding: 6px;
        display: flexbox;
      "
      >+</span
    >
  </button>
  <button type="submit" mat-raised-button color="primary">submit</button>
</form>
